.box-type-1 {
  @include responsive-property(width, (sm: 50%, xs: 100%));

  background-color: #fff;
  box-shadow: 0 0 80px rgba(61, 64, 80, 0.2);

  &.is-padding {
  	padding: 30px;
  }

  input {
  	margin: 0 auto;
  	width: 50%;
  }
}
