$calendar-size: 600px;

.calendar-planner {
	@include size(600px, 300px);
	@include transition(transform 0.35s ease-in-out);

	background: lightgray;
	left: 50%;
	margin-left: -1 * $calendar-size/2;
	position: fixed;

	&.is-opened {
		transform: translateY(0);
	}
}

.simple-calendar {
	padding: 30px;

	.table-striped > tbody > tr {
		background: #D3D3D3;
	}
}

.previous-link {
	float: left;
}

.next-link {
	float: right;
}

a {
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}
.is-available {
	background: green;
	color: white;
	padding: 5px;
}

.is-blocked {
	background: red;
	color: white;
	padding: 5px;
}