$calendar-size: 600px;

.calendar-planner {
	@include size(600, 300);
	@include transition(transform 0.35s ease-in-out);

	background: lightgray;
	transform: translateY(- $calendar-size);
	position: fixed;
	left: 50%;
	margin-left: -1 * $calendar-size/2;

	&.is-opened {
		transform: translateY(0);
	}
}

a {
	text-decoration: none;

	&:hover, &:focus {
		text-decoration: none;
	}
}
.is-available {
	background: green;
	color: white;
	padding: 5px;
}

.is-blocked {
	background: red;
	padding: 5px;
	color: white;
}