li {
	list-style: none;
}

.navbar {
	margin-bottom: 0;
	background-color: #b22222;
	border: 0;
}

.header-navigation li {
	display: inline-block;
}

.navbar-default {	
	.navbar-text, .navbar-brand {
		color: #ffff00;
		font-size: 18px;
	}

	.navbar-brand img {
		height: 130px;
		margin-left: -70px;
	}
}
