#rating {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -3;
	opacity: 0;

	&.is-opened {
		z-index: 999;
		opacity: 1;
	}

	a {
		color: #b22222;

		&:hover, &:active {
			color: #b22222;
		}
	}

	.rating-form {
		@include square(600px);

		background: #fff;
		border-radius: 10px;
		margin-left: -300px;
		margin-top: -300px;
		position: absolute;
		top: 50%; left: 50%;

		& .ratings-quality > a[class*="quality-rating-"]:hover ~ a[class*="quality-rating-"], 
		& .ratings-quantity > a[class*="quantity-rating-"]:hover ~ a[class*="quantity-rating-"],
		& .ratings-time > a[class*="time-rating-"]:hover ~ a[class*="time-rating-"] {
			color: #ffb2b2;
		}

		a[class*="quality-rating-"], a[class*="quantity-rating-"], a[class*="time-rating-"] {
			color: #b22222;
			display: inline-block;
		}
	}

	.ratings-input-form {
		margin-top: 40px;
		padding: 20px;
	}
}