body {
	background-image: image-url('catering.jpg');
}

::-webkit-input-placeholder {
	text-align: center;
}

input[type="checkbox"] {
	top: 4px;
}

.is-background {
	background: #CFB53B;	
}

.occasion-content {
	img {
		width: 100%;
	}
}

.occasion-hover-content {
	position: relative;

	.navigate-btn {
		@include transition(opacity 1s);

		opacity: 0;
	}
}

.navigate-btn {
	position: absolute;
	top: 50%;
	left: 50%;
}

.show-btn {
	.navigate-btn {
		opacity: 1;
	}
}