body {
	background-image: image-url('catering.jpg');
}

::-webkit-input-placeholder {
	text-align: center;
}

input[type="checkbox"] {
	top: 4px;
}

.is-background {
	background: #CFB53B;	
}

.column-content {
	img {
		width: 100%;
	}
}

.column-hover-content {
	position: relative;

	.display-avatar { 
		@include transition(opacity 1s);

		cursor: pointer;
		padding: 0;

		&:hover {
			opacity: 0.3;
		}
	}
}

.navigate-btn {
	@include transition(opacity 1s, background-color 1s, color 1s, transform 0.5s);

	background-color: #b22222;
	bottom: 0;
	color: #ffff00;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	transform: translateY(45px);
	pointer-events: none;

	&:hover {
		background-color: #ffffff;
		color: #b22222;
	}
}

.show-btn {
	.navigate-btn {
		opacity: 1;
		transform: translateY(0);
		pointer-events: auto;
	}
}